<div class="w-full">
    <label *ngIf="label" class="block mb-2 text-sm font-medium text-gray-700">
        {{ label }}
    </label>

    <div class="relative">
        <select [disabled]="disabled" [ngModel]="value" (ngModelChange)="onSelectChange($event)" class="w-full appearance-none px-4 py-2.5 pr-10
           text-sm text-gray-900 bg-white
           border border-gray-300 rounded-xl shadow-sm
           transition-all duration-200
           focus:ring-4 focus:ring-blue-100
           focus:border-blue-500" [class.border-red-500]="error" [class.focus:ring-red-100]="error">
            <option [ngValue]="null" disabled>
                {{ placeholder }}
            </option>
            <option *ngFor="let item of options" [ngValue]="item.value">
                {{ item.label }}
            </option>
        </select>
        <p *ngIf="error" class="mt-1 text-xs text-red-500">
            {{ error }}
        </p>
        <lucide-icon name="chevron-down"
            class="absolute right-3 top-1/2 -translate-y-1/2 w-4 h-4 text-gray-400 pointer-events-none">
        </lucide-icon>
    </div>
</div>