<div class="p-6 space-y-6">
    <app-breadcrumb
        [items]="[{ title: 'NCR', icon: 'replace-all' }, { title: 'NCR Matrix Approval', icon: 'badge-check' }]">
    </app-breadcrumb>
    <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between gap-4">
        <div>
            <h1 class="text-3xl font-bold text-heading">
                NCR Matrix Approval
            </h1>

            <p class="mt-1 text-sm text-body-muted">
                Manage ncr matrix approval
            </p>
        </div>

        <div class="flex flex-col sm:flex-row gap-3">
            <div>
                <app-search-input (search)="applyFilter($event)"></app-search-input>
            </div>
            <app-button *appHasPermission="'CREATE_MATRIX'" title="Add Matrix" icon="plus" [variant]="BUTTON_VARIANTS.PRIMARY" (onClick)="openAddModal()">
            </app-button>
        </div>
    </div>
    <div class="bg-neutral-primary-soft border border-default rounded-lg shadow overflow-hidden">
        <div class="overflow-x-auto">
            <table class="w-full text-sm text-left">
                <thead class="bg-neutral-secondary-medium border-b border-default-medium">
                    <tr>
                        <th class="px-6 py-4 font-semibold text-center">
                            Matrix Code
                        </th>
                        <th class="px-6 py-4 font-semibold text-center">
                            Department
                        </th>
                        <th class="px-6 py-4 font-semibold text-center">
                            Status
                        </th>
                        <th class="px-6 py-4 font-semibold text-center">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="isLoading">
                        <td colspan="5" class="py-16">
                            <div class="flex justify-center">
                                <app-circularProgress [isLoading]="true">
                                </app-circularProgress>
                            </div>
                        </td>
                    </tr>
                    <ng-container *ngIf="!isLoading && filteredData.length > 0">
                        <tr *ngFor="let item of paginatedData"
                            class="border-b border-default hover:bg-neutral-secondary-medium transition">
                            <td class="px-6 py-4">
                                <div class="font-medium text-heading text-center">
                                    {{ item.ncrMatrixCode }}
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="font-medium text-heading text-center">
                                    {{ item.departmentCode}} - {{ item.departmentName }}
                                </div>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <span class="inline-flex px-3 py-1 rounded-full text-xs font-medium" [ngClass]="{
                                        'bg-green-100 text-green-700': !item.status,
                                        'bg-red-100 text-red-700': item.status
                                    }">
                                    {{ item.status ? 'Inactive' : 'Active' }}
                                </span>
                            </td>
                            <td class="px-6 py-4 justify-items-center">
                                <div class="flex items-center gap-4">
                                    <app-button *appHasPermission="'VIEW_MATRIX'" (onClick)="openEditModal(item)" icon="square-pen"
                                        [size]="BUTTON_SIZES.SM" [radius]="BUTTON_RADIUS.FULL"
                                        [variant]="BUTTON_VARIANTS.OUTLINE"
                                        customClass="border-yellow-500 text-yellow-600 hover:bg-yellow-50">
                                    </app-button>

                                    <app-button *appHasPermission="'DELETE_MATRIX'" (onClick)="deleteMatrix(item.ncrMatrixId)" icon="trash-2"
                                        [size]="BUTTON_SIZES.SM" [radius]="BUTTON_RADIUS.FULL"
                                        [variant]="BUTTON_VARIANTS.OUTLINE"
                                        customClass="border-red-500 text-red-600 hover:bg-red-50">
                                    </app-button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                    <tr *ngIf="!isLoading && filteredData.length === 0">
                        <td colspan="5">
                            <div class="py-16 text-center">
                                <div class="text-lg font-medium text-heading">
                                    No Matrix Found
                                </div>
                                <div class="mt-2 text-sm text-body-muted">
                                    There is no matrix data available.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex flex-col sm:flex-row items-center justify-between gap-4 px-6 py-4 border-t border-default">
            <span class="text-sm text-body-muted">
                Total Matrix Approval: {{ matrixs.length }}
            </span>
            <div class="flex gap-2">
                <app-button (click)="changePage(currentPage - 1)" disable="currentPage===1" title="Previous" icon="chevron-left" [variant]="BUTTON_VARIANTS.OUTLINE">
                </app-button>

                <app-button (click)="changePage(currentPage + 1)" disable="currentPage===totalPages" title="Next" icon="chevron-right" [variant]="BUTTON_VARIANTS.OUTLINE">
                </app-button>
            </div>
        </div>
    </div>
</div>
<app-modal *ngIf="showModal" [title]="modalMode() === 'add'
        ? 'Add Matrix Approval'
        : 'Edit Matrix Approval'" size="lg" (close)="closeModal()" width=800>
    <div modal-body>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <app-input label="Matrix Code" [ngModel]="selectedMatrix().ncrMatrixCode"
                    (ngModelChange)="updateField('ncrMatrixCode', $event)"
                    [error]="showErrors() ? validationErrors().ncrMatrixCode : ''"  [readonly]="true">
                </app-input>
            </div>
            <div>
                <app-select-input label="Department" placeholder="Select Department" [options]="departmentData"
                    [ngModel]="selectedMatrix().departmentId"
                    (ngModelChange)="onDepartmentChange(+$event)"
                    [error]="showErrors() ? validationErrors().departmentId : ''"
                    [disabled]="noWritePermission()">
                </app-select-input>
            </div>
        </div>
        <div class="flex items-center justify-end gap-5  mt-10">
            <app-button *ngIf="!noWritePermission()" title="Add Approver" [radius]="BUTTON_RADIUS.FULL"
                (onClick)="openAddApproverModal()"></app-button>
        </div>
        <div class="overflow-x-auto mt-10">
            <table class="w-full text-sm text-left">
                <thead class="bg-neutral-secondary-medium border-b border-default-medium">
                    <tr>
                        <th class="px-6 py-4 font-semibold text-center">
                            Order Number
                        </th>
                        <th class="px-6 py-4 font-semibold text-center">
                            Approver Name
                        </th>
                        <th class="px-6 py-4 font-semibold text-center">
                            Approver Position
                        </th>
                        <th class="px-6 py-4 font-semibold text-center">
                            Approver To
                        </th>
                        <th class="px-6 py-4 font-semibold text-center">
                            Reject To
                        </th>
                        <th class="px-6 py-4 font-semibold text-center">
                            Action
                        </th>
                    </tr>
                </thead>
                <ng-container *ngIf="!isLoading && selectedMatrix().approver.length > 0">
                    <tr *ngFor="let item of selectedMatrix().approver; let i = index"
                        class="border-b border-default hover:bg-neutral-secondary-medium transition">
                        <td class="px-4 py-4  text-center">
                            {{ item.orderNumber }}
                        </td>
                        <td class="px-4 py-4  text-center">
                            {{ getApproverName(item.approverId) }}
                        </td>
                        <td class="px-4 py-4 text-center">
                            {{ getApproverPosition(item.approverId) }}
                        </td>
                        <td class="px-4 py-4 text-center">
                            {{ item.approveToOrderNumber }}
                        </td>
                        <td class="px-4 py-4 text-center">
                            {{ item.rejectToOrderNumber }}
                        </td>
                        <td class="px-4 py-4 justify-items-center">
                            <div class="flex items-center gap-4">
                                <app-button *ngIf="!noWritePermission()" icon="square-pen" (onClick)="openEditApproverModal(i)"
                                    [variant]="BUTTON_VARIANTS.WARNING">
                                </app-button>
                                <app-button *ngIf="!noWritePermission()" icon="trash-2" (onClick)="deleteApprover(i)"
                                    [variant]="BUTTON_VARIANTS.DANGER">
                                </app-button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>
    <div modal-footer>
        <app-button title="Cancel" [variant]="BUTTON_VARIANTS.OUTLINE" (onClick)="closeModal()" customClass="mr-2">
        </app-button>
        <app-button [title]="modalMode() === 'add'
                ? 'Create'
                : 'Update'" icon="save" *ngIf="!noWritePermission()" [variant]="BUTTON_VARIANTS.PRIMARY" (onClick)="saveMatrix()"
            customClass="mt-2">
        </app-button>
    </div>
</app-modal>
<app-modal *ngIf="showApproverModal" title="Approver">
    <div modal-body>
        <app-select-input label="Approver" [options]="approverData" [ngModel]="selectedApprover().approverId"
            (ngModelChange)="selectedApprover.update(x => ({
                ...x,
                approverId: +$event
            }))" [error]="showApproverErrors()
        ? approverValidationErrors().approverId
        : ''">
        </app-select-input>
        <app-input [readonly]="true" type="number" label="Order Number" [ngModel]="selectedApprover().orderNumber"
            (ngModelChange)="selectedApprover.update(x => ({
                ...x,
                orderNumber: +$event
            }))">
        </app-input>
        <app-input type="number" label="Approve To Order Number" [ngModel]="selectedApprover().approveToOrderNumber"
            (ngModelChange)="selectedApprover.update(x => ({
                ...x,
                approveToOrderNumber: +$event
            }))">
        </app-input>
        <app-input type="number" label="Reject To Order Number" [ngModel]="selectedApprover().rejectToOrderNumber"
            (ngModelChange)="selectedApprover.update(x => ({
                ...x,
                rejectToOrderNumber: +$event
            }))">
        </app-input>
    </div>
    <div modal-footer>
        <app-button title="Cancel" [variant]="BUTTON_VARIANTS.OUTLINE" (onClick)="closeModalApprover()"
            customClass="mr-2"></app-button>
        <app-button title="Save" (onClick)="saveApprover()">
        </app-button>
    </div>
</app-modal>